$text-color_1: black;
$text-color_2: white;
$text-color_3: red;
$text-color_4: green;
$font-family_1: 'Noto Sans', sans-serif;
$bg-color_1: white;
$bg-color_2: rgb(59, 58, 58);
$bg-color_3: #1d1d1b;
$bg-color_4: #3a3a3a;
$bg-color_5: transparent;
$bg-color_6: rgb(90, 90, 90);
$bg-color_7: rgb(218, 101, 101);
$bg-color_8: black;
$bg-color_9: rgba(0, 0, 0, 0.541);
$bg-color_10: #0000008c;
$bg-color_11: #00000080;
$bg-color_12: green;
$bg-color_13: #9c9b9b;
$width-icon-desktop: 100px;
$width-icon-mobile: 50px;